#title {
  background-color: #ff4c68;
  padding-bottom: 120px;
}

.site-margin {
  padding: 3% 15%;

}



h1 {
  font-family: 'Montserrat', sans-serif;
  size: 3.5rem;
  line-height: 1.5

}

h2 {
  font-family: 'Montserrat';
line-height: 1.5;
  size: 3rem;
}

.navbar {
  padding: 0 0 4.5rem;

}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;

}

.navbar-nav{
    margin-left: auto;
}

.nav-item {
  padding: 0 18px;
    justify-content: space-between
}

.nav-link {
  font-size: 1.2rem;
  font-size: 'Montserrat-Light'
}

.download-button {
  margin: 5% 2% 5% 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.title-image {
  width: 60%;
transform: rotate(25deg);
position: absolute;

}

.iphone-image {
  margin: 3% 15%;
}

.containter-fluid{
  padding: 3% 15%;

}

.sub-heading {
  font-size: 3.3rem;
  color: white;
    margin: 0 15%;
}

.heading {
  font-size: 3.5rem;
  color: white;
}

.functions {
  padding: 7 15%;
}

.desc-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.desc-icon:hover {
  color: #ff4c68;
}

.functions {
  padding-top: 10%
}

.description{
  color: #8f8f8f;
}

#testimonials {
padding: 7% 20%;
background-color: #ef8172;
text-align: center;
color: white;
margin: 60px;

}

#textimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
background-color: #ef8172;
text-align: center;
padding-bottom: 3%;

}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px !important;
}

.carousel-item {
  height: 300px;
  background-color: #ef8172;
}

#carouselExampleControls{
background-color: #ef8172;
padding: 1% 15%;
margin-top: 40px;

}

.carousel-inner {
  padding: 3% 7%;
  text-align: center;
}

.testimonial-text {
  color: white;
  font-size: 2.6rem;
}

.center {
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#pricing {
margin: 3% 7%;
padding-top: 40px;
}

#features {
  padding: 6% 11%;
  background-color: white;
  z-index: 1;
  position: relative;
}

.col-image {
  position: relative;
}

.outro {
  background-color: #ff4c68;
  text-align: center;
  padding: 6%;
}

.copyright {
  text-align: center;
 padding: 7%;
 color: gray;
}

.social-icon {
  margin: 10px;
  padding-bottom: 2%;
}

.social-icon:hover {
  color: #ff4c68;
}
/* mobile version */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

.title-image {
  position: static;
  transform: rotate(0);
}
}
